<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Naves</title>
</head>

<body>
	<h2>VEHICULO LANZADERA</h2>
	<label><input type="checkbox" id="cbox1" value="first_checkbox">Falcon IX</label><br>

	<h2>VEHICULO NO TRIPULADO</h2>
	<label><input type="checkbox" id="cbox1" value="first_checkbox">Cassini-Huygens</label><br>

	<h2>VEHICULO TRIPULADO</h2>
	<label><input type="checkbox" id="cbox1" value="first_checkbox">Estacion Espacial Internacional</label><br>
	
	<br>

	<a class="result" href="resultado.html" th:href="@{/resultado}" role="button" id="dropdownMenuLink"
		data-bs-toggle="dropdown" aria-expanded="false">LA NAVE QUE CREASTE ES: </a>

</body>

</html>