<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Naves</title>
</head>

<body>

	<div>
		<h1>NAVES ESPACIALES</h1>
		<ul>una nave espacial es un vehiculo que fue diseñado para superar la gravedad terrestre y navegar en el
			infinito espacio exterior, estas naves tienen diferentes usos y clasificaciones, pero las 3 mas comunes son
			las siguientes:
			<br>
			<br>
			<a class="btn-secondary" href="vehiculoslanzadera.html" 
				th:href="@{/vehiculoslanzadera}" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
				aria-expanded="false">Vehiculos Lanzadera</a><br>
			<a class="btn-secondary" href="navesnotripuladas.html" 
				th:href="@{/navesnotripuladas}" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
				aria-expanded="false">Naves espaciales no tripuladas</a><br>
			<a class="btn-secondary" href="navestripuladas.html" 
				th:href="@{/navestripuladas}" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
				aria-expanded="false">Naves espaciales tripuladas</a>
		</ul>
		<ul>A continuacion, vamos a realizar un pequeño juego en el que tu vas a crear tu propia nave espacial, ten en
			cuenta lo siguiente:
			<br>
			<br>
			<li>Los vehiculos lanzadera son incapaces de salir de la atmosfera debido a su gran peso, por ende son
				usados solo para poner naves espacialees tripuladas o no tripuladas en orbita, esto quiere decir que
				toda nave espacial debe tener un vehiculo lanzadera sea cual sea el proposito ya que este sera el
				encargado de romper la gravedad terrestre</li>
			<li>Hay 3 diferentes tipos de naves de cada clasificacion</li>
			<li>Puedes hacer las combinaciones que desees solo teniendo en cuenta la primera condicion</li>
			<h3>Que comience el juego</h3>

			<a class="btn" href="crearnave.html" 
				th:href="@{/crearnave}" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
				aria-expanded="false">CREAR NAVE</a>

		</ul>
	</div>

</body>

</html>