<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Naves Tripuladas</title>
</head>

<body>
	<div>
		<h1>NAVES TRIPULADAS</h1>
	</div>

	<ul>
		<h3>Estacion Espacial Internacional</h3><a>Es un proyecto de colaboración multinacional entre las cinco agencias
			espaciales participantes: NASA (Estados Unidos), Roscosmos (Rusia), JAXA (Japón), ESA (Europa), y la CSA/ASC
			(Canadá). La administración, gestión y desarrollo de la estación están establecidas mediante tratados y
			acuerdos intergubernamentales. La estación sirve como un laboratorio de investigación en microgravedad
			permanentemente habitado en el que se realizan estudios sobre astrobiología, astronomía, meteorología,
			física y otros muchos campos.9​10​11​ La EEI también está capacitada para probar los sistemas y equipamiento
			necesarios para la realización de vuelos espaciales de larga duración como pueden ser las misiones a la Luna
			y Marte.12​ Está considerada como uno de los logros más grandes de la humanidad.</a><br>
		<h3>Skylab</h3><a> fue la primera estación espacial estadounidense. Fue diseñada por Raymond Loewy. Orbitó
			alrededor de la Tierra de 1973 a 1979 y fue visitada por astronautas en tres ocasiones durante sus dos
			primeros años de servicio. Con un peso de 75 toneladas, fue lanzada (en misión no tripulada) el 14 de mayo
			de 1973, impulsada por el cohete Saturno V (misión SL-1). La estación sufrió daños graves durante el
			lanzamiento, perdiendo el escudo solar, parte del escudo contra micrometeoritos y uno de sus paneles solares
			principales. Las partes desprendidas del escudo contra micrometeoritos impidieron el despliegue del panel
			solar restante, causándole un gran déficit energético y un sobrecalentamiento anormal.</a><br>
		<h3>Apolo</h3><a>fue un programa espacial tripulado desarrollado por Estados Unidos en la década de 1960 en el
			marco de la carrera espacial con la Unión Soviética durante la Guerra Fría. El proyecto comenzó en julio de
			1960, cuando la agencia espacial estadounidense NASA anunció el programa, como continuación de las misiones
			Mercury, que tendría como objetivo el sobrevuelo tripulado de nuestro satélite para localizar una zona
			apropiada con vistas a un eventual alunizaje de astronautas, que cumpliría así el viejo sueño del viaje a la
			Luna por parte del ser humano. Esto se hizo finalmente realidad en julio de 1969, cuando la misión Apolo 11,
			comandada por Neil Armstrong, Edwin Aldrin, y Michael Collins alunizó por primera vez en el satélite
			terrestre.</a><br>
	</ul>
</body>

</html>