<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Naves no tripuladas</title>
</head>

<body>
	<div>
		<h1>NAVES NO TRIPULADAS</h1>
	</div>

	<ul>
		<h3>Cassini-Huygens</h3><a>La sonda Huygens, fabricada por la Agencia Espacial Europea (ESA) y llamada así por
			el astrónomo holandés del siglo XVII Christiaan Huygens, (descubridor de la luna Titán del planeta Saturno),
			es una sonda de entrada a la atmósfera de Titán transportada como parte de la misión Cassini-Huygens. La
			nave espacial Cassini-Huygens fue lanzada desde la Tierra el 15 de octubre de 1997. Huygens se separó del
			orbitador Cassini el 25 de diciembre de 2004, y aterrizó en Titán el 14 de enero de 2005 cerca de la región
			de Xanadu.</a><br>
		<h3>New Horizons</h3><a>La sonda se lanzó desde Cabo Cañaveral el 19 de enero de 2006. New Horizons se aproximó
			a Júpiter entre febrero y marzo de 2007, para aprovechar la asistencia gravitatoria del planeta y adquirir
			así una diferencia de velocidad de unos 4 023 m/s (14 482 km/h). El 14 de julio de 2015 a las 11:49:04 UTC,
			la sonda llegó al punto más cercano a Plutón (12 500 km), realizando todo tipo de mediciones del planeta
			enano. Tras el éxito de la misión principal, se prevé que la sonda explore a lo sumo dos objetos del
			cinturón de Kuiper.

			New Horizons es una de las sondas espaciales con mayor velocidad respecto al Sol, alcanzando una diferencia
			máxima entre las velocidades inicial y final de 15,1 km/s. (54 000 km/h). Comparativamente, se ve superada
			por la sonda Rosetta, que alcanzó los 108 000 km/h, y por las sondas Voyager 1 y Voyager 2.1​ No obstante,
			todas ellas quedan lejos de los 252 900 km/h alcanzados por Helios B en abril de 1976 y de los 324 000 km/h
			registrados por la sonda Solar Parker el 1 de noviembre de 2018.</a><br>
		<h3>Curiosity</h3><a>es una misión espacial que incluye un astromóvil de exploración marciana dirigida por la
			NASA. Programada en un principio para ser lanzada el 8 de octubre de 2009 y efectuar un descenso de
			precisión sobre la superficie del planeta en 2010 entre los meses de julio y septiembre,4​5​ fue finalmente
			lanzada el 26 de noviembre de 2011 a las 10:02 a. m. EST, y aterrizó en Marte exitosamente en el cráter Gale
			el 6 de agosto de 2012, aproximadamente a las 05:31 UTC, enviando sus primeras imágenes a la Tierra.6​

			La misión7​ se centra en situar sobre la superficie marciana un vehículo explorador (tipo rover). Este
			vehículo es tres veces más pesado y dos veces más grande que los vehículos utilizados en la misión Mars
			Exploration Rover, que aterrizaron en el año 2004. Este vehículo lleva instrumentos científicos más
			avanzados que los de las otras misiones anteriores dirigidas a Marte, algunos de ellos proporcionados por la
			comunidad internacional. El vehículo se lanzó mediante un cohete Atlas V 541.</a><br>
	</ul>
</body>

</html>