<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Vehiculos Lanzadera</title>
</head>

<body>
	<div>
		<h1>VEHICULOS LANZADERA</h1>
	</div>
	<ul>Como su propio nombre indica, se trata de un cohete autopropulsado que sirve para lanzar una carga útil al
		espacio, normalmente un satélite artificial, una sonda o una nave tripulada.
		Los vehiculos lanzadera mas utilizados a nivel mundial son:<br>
		<h3>Falcon IX</h3><a>es un vehículo de lanzamiento parcialmente reutilizable de dos etapas diseñado y fabricado
			por SpaceX. Usa como propelentes queroseno para cohetes (RP-1) densificado y oxígeno líquido (LOX). Su
			versión actual, el Falcon 9 Block 5, tiene una carga útil aproximada de 22 800 kg a órbita baja terrestre y
			de aproximadamente 8.300 kg a órbita de transferencia geosíncrona. La primera etapa es capaz de aterrizar
			para ser reutilizada en nuevas misiones, ya sea volviendo a tierra o sobre una nave dron.</a><br>
		<h3>Delta IV</h3><a>vehículo lanzador desechable de United Launch Alliance fabricado por Boeing. Creado en 2001,
			es el cohete más grande de la familia Delta alcanzando, en su versión Heavy, más de 70 metros de
			altura.</a><br>
		<h3>Atlas V</h3><a>es un sistema de lanzamiento prescindible y la quinta versión principal de la familia de
			cohetes Atlas . Fue diseñado originalmente por Lockheed Martin , ahora operado por United Launch Alliance
			(ULA), una empresa conjunta entre Lockheed Martin y Boeing . Atlas V es también un importante vehículo de
			lanzamiento de la NASA.</a><br>
	</ul>

</body>

</html>